@media only screen and (min-device-width: 375) and (max-device-width: 667) and (orientation: portrait) and (device-pixel-ratio: 2){
    #websiteOneLaptopIMG {
        width: 50vw;
        z-index: 1;
        border: 2px solid #000;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }
    #websiteOneNexusIMG, #websiteOneIpadIMG {
       border-radius: 1px; 
    }
}