    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        #pageContent {padding-left:0;padding-right:0;}
        #homeContainer {padding-left:0;padding-right:0;padding-top:6.25em;padding-bottom:7.813em;}
        #homeButton {width:25vmin;font-size:2em;margin-left:0;}
        #homeHeader {font-size:2.5em;}
        #homeText {margin-left:0;}
        .clearfix::before{clear:both;}
        .clearfix::after{clear:both;}
        #about {height:auto;}
        #atWork {font-size:1em;border: none;}
        #wp1, #wp2 {text-align:left;}
        #atHome {font-size:1em;}
        #resumePage {height: auto;clear: both;}
        #resumeCont {height:auto;clear:both;padding-top:0;}
        #contact {height:auto;}
    }
    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 412px) {
        #pageContent {padding-left:0;padding-right:0;}
        #homeContainer {padding-left:0;padding-right:0;padding-top:12.5em;padding-bottom:12em;}
        #homeButton {width:25vmin;font-size:2em;margin-left:0;}
        #homeHeader {font-size:2.5em;}
        #homeText {margin-left:0;}
        .clearfix::before{clear:both;}
        .clearfix::after{clear:both;}
        #about {height:auto;}
        #atWork {font-size:1em;border: none;}
        #wp1, #wp2 {text-align:left;}
        #hp1, #hp2, #hp3 {text-align:right;}
        #atHome {font-size:1em;}
        #resumePage {height: auto;clear: both;}
        #resumeCont {height:auto;clear:both;padding-top:0;margin-top:0;}
        #contact {height:auto;}
    }
    /* Small Devices, Tablets */
    @media only screen and (max-width : 575px) {
        #pageContent {padding-left:0;padding-right:0;}
        #homeContainer {padding-left:0;padding-right:0;padding-top:12.5em;padding-bottom:12em;}
        #homeButton {width:25vmin;font-size:2em;margin-left:0;}
        #homeHeader {font-size:2.5em;}
        #homeText {margin-left:0;}
        .clearfix::before{clear:both;}
        .clearfix::after{clear:both;}
        #about {height:auto;}
        #atWork {font-size:1em;border: none;}
        #wp1, #wp2 {text-align:left;}
        #hp1, #hp2, #hp3 {text-align:right;}
        #atHome {font-size:1em;}
        #resumePage {height: auto;clear: both;}
        #resumeCont {height:auto;clear:both;padding-top:0;margin-top:0;}
        #contact {height:auto;}
    }
/* Small Devices, Tablets */
    @media only screen and (max-width : 767px) {
        #pageContent {padding-left:0;padding-right:0;}
        #homeContainer {padding-left:0;padding-right:0;padding-top:12.5em;padding-bottom:12em;}
        #homeButton {width:25vmin;font-size:2em;margin-left:0;}
        #homeHeader {font-size:2.5em;}
        #homeText {margin-left:0;}
        .clearfix::before{clear:both;}
        .clearfix::after{clear:both;}
        #about {height:auto;}
        #atWork {font-size:1em;border: none;}
        #wp1, #wp2 {text-align:left;}
        #hp1, #hp2, #hp3 {text-align:right;}
        #atHome {font-size:1em;}
        #resumePage {height: auto;clear: both;}
        #resumeCont {height:auto;clear:both;padding-top:0;margin-top:0;}
        #contact {height:auto;}
    }
    /* Medium Devices, Desktops */
    @media only screen and (max-width : 991px) {
        #pageContent {padding-left:0;padding-right:0;}
        #homeContainer {padding-left:0;padding-right:0;padding-top:12.5em;padding-bottom:12em;}
        #homeButton {width:25vmin;font-size:2em;margin-left:0;}
        #homeHeader {font-size:2.5em;}
        #homeText {margin-left:0;}
        .clearfix::before{clear:both;}
        .clearfix::after{clear:both;}
        #about {height:auto;}
        #atWork {font-size:1em;border: none;}
        #wp1, #wp2 {text-align:left;}
        #hp1, #hp2, #hp3 {text-align:right;}
        #atHome {font-size:1em;}
        #resumePage {height: auto;clear: both;}
        #resumeCont {height:auto;clear:both;padding-top:0;margin-top:0;}
        #contact {height:auto;}
    }
/* Large Devices, Wide Screens */
    @media only screen and (max-width : 1199px) {
        #pageContent {padding-left:0;padding-right:0;}
        #homeContainer {padding-left:0;padding-right:0;padding-top:12.5em;padding-bottom:12em;}
        #homeButton {width:25vmin;font-size:2em;margin-left:0;}
        #homeHeader {font-size:2.5em;}
        #homeText {margin-left:0;}
        .clearfix::before{clear:both;}
        .clearfix::after{clear:both;}
        #about {height:auto;}
        #atWork {font-size:1em;border: none;}
        #wp1, #wp2 {text-align:left;}
        #hp1, #hp2, #hp3 {text-align:right;}
        #atHome {font-size:1em;}
        #resumePage {height: auto;clear: both;}
        #resumeCont {height:auto;clear:both;padding-top:0;margin-top:0;}
        #contact {height:auto;}
    }







