html{
    font-size: auto;
    font-family: 'Comfortaa', cursive;
    font-family: 'Ubuntu Condensed', sans-serif;
    overflow-x: hidden;
}
body {
    background-image: url(../img/backGround.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.clearfix {
    clear: both;
}

/*NavBar*/
.navbar{
    box-shadow: 0 0 30px #000;
}
nav .btn:hover {
    animation: grow1 2s ease-in-out alternate infinite;
    box-shadow: 0 0 10px #000;
}

/*Main Home Page*/
#home {
    height: 100vmin;
}
#home .container-fluid {
    background-color: transparent;
    padding-top: 400px;
}
#home h1 {
    color: white;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 15vmin;
    animation: neon3 5s ease-in-out infinite alternate;
}
#home .lead {
    color: white;
    font-size: 5vmin;
}
#home .btn {
    background-color: #000;
    color: white;
    box-shadow: inset 0px 0px 10px 0px black;
    border: none;
    width:30%;
    margin: 0 auto;
}
#home .btn:hover {
    
    opacity: 1;
    color: black;
    background-color: white;
    -webkit-animation: neon1 2s ease-in-out infinite alternate;
    -moz-animation: neon1 2s ease-in-out infinite alternate;
    animation: neon1 2s ease-in-out infinite alternate;
}

/*About*/
#about {
    height: 80vmin;
    margin-top: 10vmin;
    margin-bottom: 10vmin;
    padding-top: 3vmin;
}
#about .jumbotron {
    background-color: black;
    height: 80vmin;
    margin-top: 10vmin;
    margin-bottom: 10vmin;
    padding-top: 3vmin;
    color: white;
    box-shadow: 0 0 200px #000;
    font-family: 'Ubuntu Condensed', sans-serif;
    text-align:center;
}
#about p {
    font-family: 'Comfortaa', cursive;
    font-size: 2.3vmin;
    color: black;
}
#about .card {
    height: 60vmin;
    background-color: #8f7a98;
}
#about .card-header {
    background-color: #4b3c51;
    box-shadow: inset 0 0 20px #000, inset 0 2px 20px #e1bcf2;
}
#about .card h3 {
    color: white;
    font-size: 4vmin;
    text-shadow: 0 0 10px #000;
}
#about .card-body {
    margin: 10px;
    border: 1px #000;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 15px #000;
}
#about .card-footer {
    margin: 10px;
    border: 1px #000;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 15px #000;
}
#about .card-footer .btn {
    box-shadow: 0 0 10px #000;
}

/*Skills*/
#skills {
    height: 80vmin;
    margin-top: 10vmin;
    margin-bottom: 10vmin;
    padding-top: 3vmin;
}
#skills .jumbotron {
    background-color: #140d18;
    height: 80vmin;
    margin-top: 10vmin;
    margin-bottom: 10vmin;
    color: white;
    box-shadow: 0 0 200px #000;
    font-family: 'Ubuntu Condensed', sans-serif;
    text-align:center;
}
#skills .card {
    height: 60vmin;
    background-color: #8f7a98;
}
#skills .card-header {
    background-color: #4b3c51;
    box-shadow: inset 0 0 20px #000, inset 0 2px 20px #e1bcf2, 0 0 20px #000;
}
#skills .card-text {
    background-color: white;
    color: black;
    font-family: 'Comfortaa', sans-serif;
    height: 50vmin;
    box-shadow: 0 0 20px #000;
}
#skills .list-group img {
    height: 35px;
    width: 35px;
}

#programs .card-footer {
    position:inherit;
}
.carousel .card-body {
    height: 45vmin;
    background-color: white;
}
.carousel img {
    height: 50vmin;
    background-color: black;
}
.hidden {
    background-color: transparent;
    color: transparent;
}
.hidden:hover {
    background-color: black;
    color: white;
    animation: grow1 5s ease-in infinite alternate;
}
#work p {
    font-family: 'Comfortaa', sans-serif;
    font-size: 3vmin;
}



/*Projects*/
#projects {
    height: 80vmin;
    margin-top: 10vmin;
    margin-bottom: 10vmin;
    padding-top: 3vmin;
}
#projects .jumbotron {
    background-color: #442c51;
    height: 80vmin;
    margin-top: 10vmin;
    margin-bottom: 10vmin;
    color: white;
    box-shadow: 0 0 200px #000;
    font-family: 'Ubuntu Condensed', sans-serif;
    text-align:center;
}
#projects .display-3 {
    margin-top: 20px;
}

/*Contact*/
#contact {
    height: 80vmin;
    margin-top: 10vmin;
    margin-bottom: 10vmin;
    padding-top:3vmin;
}
#contact .jumbotron {
    background-color: #7d4d98;
    height: 80vmin;
    margin-top: 10vmin;
    margin-bottom: 10vmin;
    color: white;
    box-shadow: 0 0 200px #000;
    font-family: 'Ubuntu Condensed', sans-serif;
    text-align:center;
}
#contact .card {
    height: 60vmin;
    background-color: #4b3c51;
    box-shadow: inset 0 0 20px #000, inset 0 2px 20px #e1bcf2;
}
#contact .card-body {
    margin: 10px;
    border: 1px #000;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 15px #000;
    color: black;
}

/*Footer*/
#footer{
    width: 100%;
    height: 50px;
    background-color: #000000;
    z-index: 10;
    margin-top: 200px;
    position: relative;
    clear: both;
}


/*Keyframes*/
@keyframes neon1 {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #46446B, 0 0 40px #46446B, 0 0 70px #46446B, 0 0 80px #000, 0 0 100px #000, 0 0 150px #000;
  }
}
@-moz-keyframes neon1 {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #46446B, 0 0 70px #46446B, 0 0 80px #46446B, 0 0 100px #46446B, 0 0 150px #46446B;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #46446B, 0 0 35px #46446B, 0 0 40px #46446B, 0 0 50px #46446B, 0 0 75px #46446B;
  }
}
@-webkit-keyframes neon1 {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #46446B, 0 0 70px #46446B, 0 0 80px #46446B, 0 0 100px #46446B, 0 0 150px #46446B;
  }
}
@keyframes neon2 {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #a309a3, 0 0 70px #a309a3, 0 0 80px #a309a3, 0 0 100px #a309a3, 0 0 150px #a309a3;
  }
}
@-moz-keyframes neon2 {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #a309a3, 0 0 70px #a309a3, 0 0 80px #a309a3, 0 0 100px #a309a3, 0 0 150px #a309a3;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #a309a3, 0 0 35px #a309a3, 0 0 40px #a309a3, 0 0 50px #a309a3, 0 0 75px #a309a3;
  }
}
@-webkit-keyframes neon2 {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #a309a3, 0 0 70px #a309a3, 0 0 80px #a309a3, 0 0 100px #a309a3, 0 0 150px #a309a3;
  }
}
@keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #a309a3, 0 0 70px #a309a3, 0 0 80px #a309a3, 0 0 100px #a309a3, 0 0 150px #a309a3;
  }
}
@-moz-keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #a309a3, 0 0 70px #a309a3, 0 0 80px #a309a3, 0 0 100px #a309a3, 0 0 150px #a309a3;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #a309a3, 0 0 35px #a309a3, 0 0 40px #a309a3, 0 0 50px #a309a3, 0 0 75px #a309a3;
  }
}
@-webkit-keyframes neon3 {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #a309a3, 0 0 70px #a309a3, 0 0 80px #a309a3, 0 0 100px #a309a3, 0 0 150px #a309a3;
  }
}
@keyframes grow1 {
    to{
        transform: translateZ(3px) scale(1.4);
    }
}
@-moz-keyframes grow1 {
    to{
        transform: translateZ(1px) scale(3);
    }
}
@-webkit-keyframes grow1 {
    to{
        transform: translateZ(1px) scale(3);
    }
}