html{
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
    font-family: 'Ubuntu Condensed', sans-serif;
}
body {
    overflow-x: hidden;
    background-image: url(../img/backGround.jpg);
    background-position:bottom;
    animation: 80s linear 2s infinite bp;
    display: flex;
    background-size: cover;
}


#mainPage {
    color: mediumpurple;
    margin: 0;
    background-color: black;
}

.navbar {
    z-index: 100%;
    background-color: black;
  }

.navbar .btn:hover {
    -webkit-animation: neon3 1.5s ease-in-out infinite alternate;
    -moz-animation: neon3 1.5s ease-in-out infinite alternate;
    animation: neon3 1.5s ease-in-out infinite alternate;
    background-color: transparent;
}
/*home*/
#home {
    padding-top: 100px;
    min-height: 990px;
    width: auto;
}
.text-animation {
    list-style: none;
    position: absolute;
    font-size: 120px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.text-animation li{
    display: inline-block;
    margin-right: 5px;
    opacity: 1;
    transition: all 3.5s ease;
}
.text-animation li:last-child{
    margin-right: 0;
}
.text-animation.hidden {
    opacity: 0;
}
.text-animation.hidden li:nth-child(1){ /*W*/
    transform: translateX(-1200px) translateY(1px);
}
.text-animation.hidden li:nth-child(2){ /*E*/
    transform: translateX(-801px) translateY(200px);
}
.text-animation.hidden li:nth-child(3){ /*L*/
    transform: translateX(-401px) translateY(400px);
}
.text-animation.hidden li:nth-child(4){ /*C*/
    transform: translateX(1px) translateY(600px);
}
.text-animation.hidden li:nth-child(5){ /*O*/
    transform: translateX(401px) translateY(-400px);
}
.text-animation.hidden li:nth-child(6){ /*M*/
    transform: translateX(801px) translateY(-200px);
}
.text-animation.hidden li:nth-child(7){ /*E*/
    transform: translateX(1200px) translateY(-1px);
}
.lead {
    margin-top: 500px;
}
#home .btn {
    background-color: #BE4DFF;
    color: white;
    box-shadow: inset 0px 0px 5px 0px black;
    border: none;
    width:40%;
    margin: 0 auto;
}
#home .btn:hover {
    
    opacity: 1;
    color: #BE4DFF;
    background-color: transparent;
    -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
    -moz-animation: neon2 1.5s ease-in-out infinite alternate;
    animation: neon2 1.5s ease-in-out infinite alternate;
}

/*endhome*/



/*about*/
#about {
    padding-top: 120px;
    min-height: 860px;
    width: auto;
    font-family: 'Ubuntu Condensed', sans-serif;
    padding-bottom: 100px;  
    background-color: transparent;
}
#about .card-holder {
    background: transparent;
    margin: 0 auto;
    color:#BE4DFF;
    margin-top: 200px;
    
}
#about .card-title {
    align-content: center:
}
#about .card-text{
    
}
#about .card-title {
    color:black;
    font-family: 'Ubuntu Condensed', sans-serif;
    text-align: center;
}
#about .card-text {
    color:darkblue;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    font-size: 12px;
}
.cardSub-text {
    color: blue;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    font-size: 12px
}
#about .card-deck {
    margin:0 auto;
    width: 80%;
}
#about .display-3 {
 
}
#about .card {
    padding: 30px;
    margin: 0 auto;

}
/*contact*/
#contact {
    padding-top: 120px;
    min-height: 860px;
    width: 100%;
}

.card-body .btn{
    width: auto;
    text-align: center;
   
}
.container-contact {
    height; 800px;
    padding:20px;
    background-color: rebeccapurple;
    color: #BE4DFF;
    margin: 50px auto;
}

#contact .card {
    border-radius: 15px;
    margin: 20px auto;
}
.card-footerFaceBook {
    height: 100px;
}
.card-footerInstagram {
    height: 100px;
}
#contact .card-deck {
  margin: 0 auto;
}
#contact .card-title {
    color:black;
    font-family: 'Ubuntu Condensed', sans-serif;
    text-align: center;
}

/*skills*/
.container-s {
    width: 100%; 
    background-color: transparent;
}
#skills{ 
    padding-top: 120px;
    min-height: 860px;
    width: 100%;
    font-family: 'Ubuntu Condensed', sans-serif;
    background-color: transparent;
    color: white;
    padding-bottom: 100px;
}
#skills .display-3 {
    text-align: center;
}
.skills {
    text-align: right; 
    padding-right: 20px; 
    line-height: 40px;
    color: aliceblue; 
}

.html {width: 100%; background-color: orangered;} 
.css {width: 100%; background-color: blue;} 
.js {width: 55%; background-color: red;} 
.php {width: 0%; background-color: darkolivegreen;}
.bs {width: 80%; background-color: purple;}

/*footer*/
.footerContainer {
    width: 100%;
    bottom: 0;
    height: 30px;
}
.footer {
    text-align: center;
    background-color: black;
    width: 100%;
    height: 30px;
}







@keyframes neon2 {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #a309a3, 0 0 70px #a309a3, 0 0 80px #a309a3, 0 0 100px #a309a3, 0 0 150px #a309a3;
  }
}
@-moz-keyframes neon2 {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #a309a3, 0 0 70px #a309a3, 0 0 80px #a309a3, 0 0 100px #a309a3, 0 0 150px #a309a3;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #a309a3, 0 0 35px #a309a3, 0 0 40px #a309a3, 0 0 50px #a309a3, 0 0 75px #a309a3;
  }
}
@-webkit-keyframes neon2 {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #a309a3, 0 0 70px #a309a3, 0 0 80px #a309a3, 0 0 100px #a309a3, 0 0 150px #a309a3;
  }
}
@keyframes neon3 {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #46446B, 0 0 70px #46446B, 0 0 80px #46446B, 0 0 100px #46446B, 0 0 150px #46446B;
  }
}
@-moz-keyframes neon3 {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #46446B, 0 0 70px #46446B, 0 0 80px #46446B, 0 0 100px #46446B, 0 0 150px #46446B;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #46446B, 0 0 35px #46446B, 0 0 40px #46446B, 0 0 50px #46446B, 0 0 75px #46446B;
  }
}
@-webkit-keyframes neon3 {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #46446B, 0 0 70px #46446B, 0 0 80px #46446B, 0 0 100px #46446B, 0 0 150px #46446B;
  }
}
