/* This CSS file contains the specifc fonts for each item necessary */

html {
    font-family: 'Lobster', cursive;
    font-family: 'Raleway', sans-serif;
}

#homeContent h1 {
    font-family: 'Lobster', cursive;
    font-size: 5vw;
}
#aboutMain {
    text-align: center;
}
#aboutHeader, #aboutContainer .header {
	font-family: 'Lobster', cursive;
}
#aboutContainer {
    font-family: 'Raleway', sans-serif;
}
#myWorkHeader, #myWorkContainer1 h4 {
	font-family: 'Lobster', cursive;
}
#contactForm h2 {
    font-family: 'Lobster', cursive;
}
