/* Desktops*/
@media (min-width: 1020px) {
/* Styles */
    body {
    background-color: #fff;
    color: #000;
    overflow-x: hidden;
}
hr {
    background-color: #ff0000;
}
#hr {
    background-color: #ff0000;
    width: 90vmax;
}
#headerMain {
    margin-top: 25px;
    margin-left: 20vmin;
    font-size: 3em;
}
#subHeader, #contactRow  {
    margin-left: 20vmin;
}
#conA1, #conA2, #conA3, #conA4 {
    text-decoration-color: #ff0000;
    color:#ff0000;
}
#jLI1 h6, #jLI2 h6, #jLI3 h6, #jLI4 h6 {
    color: #800000;
}
#tH1, #tH2 {
    color: #ff0000; 
    margin-top: 50px;
}
#s1 h6, #s2 h6, #s3 h6 {
    color: #800000;
}
#lfUL1, #lfUL2, #lfUL3, #lfUL4 {
    list-style: none;
}
}


/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
    body { background-color: #000; color: #fff; padding-right: 10px; padding-left: 10px; margin-right: 10px; }
    #headerMain { font-size: 70px; }
    #hr { width: 100%; background-color: #00486C; }
    hr { background-color: #00486C; }
    #subHeader { font-size: 45px; color: #00A4F6; }
    #contactRow { font-size: 28px; display: inline; }
    #conA1, #conA2, #conA3, #conA4 { text-decoration-color: #00486C; color:#fff; }
    #c1 img, #c2 img, #c3 img, #c4 img { width: 100%;height: auto; background-color: #fff; visibility: hidden;}
    /**/
    #rh1, #rh2  { font-size: 30px; width: 100%; }
    #rh1 h3, #rh2 h3 { font-size: 50px; }
    /**/
    #jH1, #jH2 { font-size: 45px; color: #fff; }
    #p0, #p0UL{ font-size: 30px; color: #00A4F6; }
    /**/
    #jLI1 h6, #jLI2 h6, #jLI3 h6, #jLI4 h6 { font-size: 35px; color: #60E1FD; }
    #p1, #p2, #p3 { font-size: 30px; color: #00A4F6; }
    /**/
    #tH1, #tH2 { color: #95ECFF; }
    #lfUL1 li, #lfUL2 li, #lfUL3 li, #lfUL4 li { font-size: 30px; color: #00A4F6; }
    #s1 h6, #s2 h6, #s3 h6 { font-size: 35px; color: #60E1FD; }
    #edHead1, #edHead2 { font-size: 35px; color: #60E1FD; }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
    body { background-color: #000; color: #fff; padding-right: 10px; padding-left: 10px; margin-right: 10px; }
    #headerMain { font-size: 70px; }
    #hr { width: 100%; background-color: #00486C; }
    hr { background-color: #00486C; }
    #subHeader { font-size: 45px; color: #00A4F6; }
    #contactRow { font-size: 28px; display: inline; }
    #conA1, #conA2, #conA3, #conA4 { text-decoration-color: #00486C; color:#fff; }
    #c1 img, #c2 img, #c3 img, #c4 img { width: 100%;height: auto; background-color: #fff; visibility: hidden;}
    /**/
    #rh1, #rh2  { font-size: 30px; width: 100%; }
    #rh1 h3, #rh2 h3 { font-size: 50px; }
    /**/
    #jH1, #jH2 { font-size: 45px; color: #fff; }
    #p0, #p0UL{ font-size: 30px; color: #00A4F6; }
    /**/
    #jLI1 h6, #jLI2 h6, #jLI3 h6, #jLI4 h6 { font-size: 35px; color: #60E1FD; }
    #p1, #p2, #p3 { font-size: 30px; color: #00A4F6; }
    /**/
    #tH1, #tH2 { color: #95ECFF; }
    #lfUL1 li, #lfUL2 li, #lfUL3 li, #lfUL4 li { font-size: 30px; color: #00A4F6; }
    #s1 h6, #s2 h6, #s3 h6 { font-size: 35px; color: #60E1FD; }
    #edHead1, #edHead2 { font-size: 35px; color: #60E1FD; }
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
    body { background-color: #000; color: #fff; padding-right: 10px; padding-left: 10px; margin-right: 10px; }
    #headerMain { font-size: 70px; }
    #hr { width: 100%; background-color: #00486C; }
    hr { background-color: #00486C; }
    #subHeader { font-size: 45px; color: #00A4F6; }
    #contactRow { font-size: 28px; display: inline; }
    #conA1, #conA2, #conA3, #conA4 { text-decoration-color: #00486C; color:#fff; }
    #c1 img, #c2 img, #c3 img, #c4 img { width: 100%;height: auto; background-color: #fff; visibility: hidden;}
    /**/
    #rh1, #rh2  { font-size: 30px; width: 100%; }
    #rh1 h3, #rh2 h3 { font-size: 50px; }
    /**/
    #jH1, #jH2 { font-size: 45px; color: #fff; }
    #p0, #p0UL{ font-size: 30px; color: #00A4F6; }
    /**/
    #jLI1 h6, #jLI2 h6, #jLI3 h6, #jLI4 h6 { font-size: 35px; color: #60E1FD; }
    #p1, #p2, #p3 { font-size: 30px; color: #00A4F6; }
    /**/
    #tH1, #tH2 { color: #95ECFF; }
    #lfUL1 li, #lfUL2 li, #lfUL3 li, #lfUL4 li { font-size: 30px; color: #00A4F6; }
    #s1 h6, #s2 h6, #s3 h6 { font-size: 35px; color: #60E1FD; }
    #edHead1, #edHead2 { font-size: 35px; color: #60E1FD; }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
    body { background-color: #000; color: #fff; padding-right: 10px; padding-left: 10px; margin-right: 10px; }
    #headerMain { font-size: 70px; }
    #hr { width: 100%; background-color: #00486C; }
    hr { background-color: #00486C; }
    #subHeader { font-size: 45px; color: #00A4F6; }
    #contactRow { font-size: 28px; display: inline; }
    #conA1, #conA2, #conA3, #conA4 { text-decoration-color: #00486C; color:#fff; }
    #c1 img, #c2 img, #c3 img, #c4 img { width: 100%;height: auto; background-color: #fff; visibility: hidden;}
    /**/
    #rh1, #rh2  { font-size: 30px; width: 100%; }
    #rh1 h3, #rh2 h3 { font-size: 50px; }
    /**/
    #jH1, #jH2 { font-size: 45px; color: #fff; }
    #p0, #p0UL{ font-size: 30px; color: #00A4F6; }
    /**/
    #jLI1 h6, #jLI2 h6, #jLI3 h6, #jLI4 h6 { font-size: 35px; color: #60E1FD; }
    #p1, #p2, #p3 { font-size: 30px; color: #00A4F6; }
    /**/
    #tH1, #tH2 { color: #95ECFF; }
    #lfUL1 li, #lfUL2 li, #lfUL3 li, #lfUL4 li { font-size: 30px; color: #00A4F6; }
    #s1 h6, #s2 h6, #s3 h6 { font-size: 35px; color: #60E1FD; }
    #edHead1, #edHead2 { font-size: 35px; color: #60E1FD; }
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
    body { background-color: #000; color: #fff; padding-right: 10px; padding-left: 10px; margin-right: 10px; }
    #headerMain { font-size: 70px; }
    #hr { width: 100%; background-color: #00486C; }
    hr { background-color: #00486C; }
    #subHeader { font-size: 45px; color: #00A4F6; }
    #contactRow { font-size: 28px; display: inline; }
    #conA1, #conA2, #conA3, #conA4 { text-decoration-color: #00486C; color:#fff; }
    #c1 img, #c2 img, #c3 img, #c4 img { width: 100%;height: auto; background-color: #fff; visibility: hidden;}
    /**/
    #rh1, #rh2  { font-size: 30px; width: 100%; }
    #rh1 h3, #rh2 h3 { font-size: 50px; }
    /**/
    #jH1, #jH2 { font-size: 45px; color: #fff; }
    #p0, #p0UL{ font-size: 30px; color: #00A4F6; }
    /**/
    #jLI1 h6, #jLI2 h6, #jLI3 h6, #jLI4 h6 { font-size: 35px; color: #60E1FD; }
    #p1, #p2, #p3 { font-size: 30px; color: #00A4F6; }
    /**/
    #tH1, #tH2 { color: #95ECFF; }
    #lfUL1 li, #lfUL2 li, #lfUL3 li, #lfUL4 li { font-size: 30px; color: #00A4F6; }
    #s1 h6, #s2 h6, #s3 h6 { font-size: 35px; color: #60E1FD; }
    #edHead1, #edHead2 { font-size: 35px; color: #60E1FD; }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
    body { background-color: #000; color: #fff; padding-right: 10px; padding-left: 10px; margin-right: 10px; }
    #headerMain { font-size: 70px; }
    #hr { width: 100%; background-color: #00486C; }
    hr { background-color: #00486C; }
    #subHeader { font-size: 45px; color: #00A4F6; }
    #contactRow { font-size: 28px; display: inline; }
    #conA1, #conA2, #conA3, #conA4 { text-decoration-color: #00486C; color:#fff; }
    #c1 img, #c2 img, #c3 img, #c4 img { width: 100%;height: auto; background-color: #fff; visibility: hidden;}
    /**/
    #rh1, #rh2  { font-size: 30px; width: 100%; }
    #rh1 h3, #rh2 h3 { font-size: 50px; }
    /**/
    #jH1, #jH2 { font-size: 45px; color: #fff; }
    #p0, #p0UL{ font-size: 30px; color: #00A4F6; }
    /**/
    #jLI1 h6, #jLI2 h6, #jLI3 h6, #jLI4 h6 { font-size: 35px; color: #60E1FD; }
    #p1, #p2, #p3 { font-size: 30px; color: #00A4F6; }
    /**/
    #tH1, #tH2 { color: #95ECFF; }
    #lfUL1 li, #lfUL2 li, #lfUL3 li, #lfUL4 li { font-size: 30px; color: #00A4F6; }
    #s1 h6, #s2 h6, #s3 h6 { font-size: 35px; color: #60E1FD; }
    #edHead1, #edHead2 { font-size: 35px; color: #60E1FD; }    
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
    body { background-color: #000; color: #fff; padding-right: 10px; padding-left: 10px; margin-right: 10px; }
    #headerMain { font-size: 70px; }
    #hr { width: 100%; background-color: #00486C; }
    hr { background-color: #00486C; }
    #subHeader { font-size: 45px; color: #00A4F6; }
    #contactRow { font-size: 28px; display: inline; }
    #conA1, #conA2, #conA3, #conA4 { text-decoration-color: #00486C; color:#fff; }
    #c1 img, #c2 img, #c3 img, #c4 img { width: 100%;height: auto; background-color: #fff; visibility: hidden;}
    /**/
    #rh1, #rh2  { font-size: 30px; width: 100%; }
    #rh1 h3, #rh2 h3 { font-size: 50px; }
    /**/
    #jH1, #jH2 { font-size: 45px; color: #fff; }
    #p0, #p0UL{ font-size: 30px; color: #00A4F6; }
    /**/
    #jLI1 h6, #jLI2 h6, #jLI3 h6, #jLI4 h6 { font-size: 35px; color: #60E1FD; }
    #p1, #p2, #p3 { font-size: 30px; color: #00A4F6; }
    /**/
    #tH1, #tH2 { color: #95ECFF; }
    #lfUL1 li, #lfUL2 li, #lfUL3 li, #lfUL4 li { font-size: 30px; color: #00A4F6; }
    #s1 h6, #s2 h6, #s3 h6 { font-size: 35px; color: #60E1FD; }
    #edHead1, #edHead2 { font-size: 35px; color: #60E1FD; }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
    body { background-color: #000; color: #fff; padding-right: 10px; padding-left: 10px; margin-right: 10px; }
    #headerMain { font-size: 70px; }
    #hr { width: 100%; background-color: #00486C; }
    hr { background-color: #00486C; }
    #subHeader { font-size: 45px; color: #00A4F6; }
    #contactRow { font-size: 28px; display: inline; }
    #conA1, #conA2, #conA3, #conA4 { text-decoration-color: #00486C; color:#fff; }
    #c1 img, #c2 img, #c3 img, #c4 img { width: 100%;height: auto; background-color: #fff; visibility: hidden;}
    /**/
    #rh1, #rh2  { font-size: 30px; width: 100%; }
    #rh1 h3, #rh2 h3 { font-size: 50px; }
    /**/
    #jH1, #jH2 { font-size: 45px; color: #fff; }
    #p0, #p0UL{ font-size: 30px; color: #00A4F6; }
    /**/
    #jLI1 h6, #jLI2 h6, #jLI3 h6, #jLI4 h6 { font-size: 35px; color: #60E1FD; }
    #p1, #p2, #p3 { font-size: 30px; color: #00A4F6; }
    /**/
    #tH1, #tH2 { color: #95ECFF; }
    #lfUL1 li, #lfUL2 li, #lfUL3 li, #lfUL4 li { font-size: 30px; color: #00A4F6; }
    #s1 h6, #s2 h6, #s3 h6 { font-size: 35px; color: #60E1FD; }
    #edHead1, #edHead2 { font-size: 35px; color: #60E1FD; }
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
    body { background-color: #000; color: #fff; padding-right: 10px; padding-left: 10px; margin-right: 10px; }
    #headerMain { font-size: 70px; }
    #hr { width: 100%; background-color: #00486C; }
    hr { background-color: #00486C; }
    #subHeader { font-size: 45px; color: #00A4F6; }
    #contactRow { font-size: 28px; display: inline; }
    #conA1, #conA2, #conA3, #conA4 { text-decoration-color: #00486C; color:#fff; }
    #c1 img, #c2 img, #c3 img, #c4 img { width: 100%;height: auto; background-color: #fff; visibility: hidden;}
    /**/
    #rh1, #rh2  { font-size: 30px; width: 100%; }
    #rh1 h3, #rh2 h3 { font-size: 50px; }
    /**/
    #jH1, #jH2 { font-size: 45px; color: #fff; }
    #p0, #p0UL{ font-size: 30px; color: #00A4F6; }
    /**/
    #jLI1 h6, #jLI2 h6, #jLI3 h6, #jLI4 h6 { font-size: 35px; color: #60E1FD; }
    #p1, #p2, #p3 { font-size: 30px; color: #00A4F6; }
    /**/
    #tH1, #tH2 { color: #95ECFF; }
    #lfUL1 li, #lfUL2 li, #lfUL3 li, #lfUL4 li { font-size: 30px; color: #00A4F6; }
    #s1 h6, #s2 h6, #s3 h6 { font-size: 35px; color: #60E1FD; }
    #edHead1, #edHead2 { font-size: 35px; color: #60E1FD; }
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
    body { background-color: #000; color: #fff; padding-right: 10px; padding-left: 10px; margin-right: 10px; }
    #headerMain { font-size: 70px; }
    #hr { width: 100%; background-color: #00486C; }
    hr { background-color: #00486C; }
    #subHeader { font-size: 45px; color: #00A4F6; }
    #contactRow { font-size: 28px; display: inline; }
    #conA1, #conA2, #conA3, #conA4 { text-decoration-color: #00486C; color:#fff; }
    #c1 img, #c2 img, #c3 img, #c4 img { width: 100%;height: auto; background-color: #fff; visibility: hidden;}
    /**/
    #rh1, #rh2  { font-size: 30px; width: 100%; }
    #rh1 h3, #rh2 h3 { font-size: 50px; }
    /**/
    #jH1, #jH2 { font-size: 45px; color: #fff; }
    #p0, #p0UL{ font-size: 30px; color: #00A4F6; }
    /**/
    #jLI1 h6, #jLI2 h6, #jLI3 h6, #jLI4 h6 { font-size: 35px; color: #60E1FD; }
    #p1, #p2, #p3 { font-size: 30px; color: #00A4F6; }
    /**/
    #tH1, #tH2 { color: #95ECFF; }
    #lfUL1 li, #lfUL2 li, #lfUL3 li, #lfUL4 li { font-size: 30px; color: #00A4F6; }
    #s1 h6, #s2 h6, #s3 h6 { font-size: 35px; color: #60E1FD; }
    #edHead1, #edHead2 { font-size: 35px; color: #60E1FD; }
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
    body { background-color: #000; color: #fff; padding-right: 10px; padding-left: 10px; margin-right: 10px; }
    #headerMain { font-size: 70px; }
    #hr { width: 100%; background-color: #00486C; }
    hr { background-color: #00486C; }
    #subHeader { font-size: 45px; color: #00A4F6; }
    #contactRow { font-size: 28px; display: inline; }
    #conA1, #conA2, #conA3, #conA4 { text-decoration-color: #00486C; color:#fff; }
    #c1 img, #c2 img, #c3 img, #c4 img { width: 100%;height: auto; background-color: #fff; visibility: hidden;}
    /**/
    #rh1, #rh2  { font-size: 30px; width: 100%; }
    #rh1 h3, #rh2 h3 { font-size: 50px; }
    /**/
    #jH1, #jH2 { font-size: 45px; color: #fff; }
    #p0, #p0UL{ font-size: 30px; color: #00A4F6; }
    /**/
    #jLI1 h6, #jLI2 h6, #jLI3 h6, #jLI4 h6 { font-size: 35px; color: #60E1FD; }
    #p1, #p2, #p3 { font-size: 30px; color: #00A4F6; }
    /**/
    #tH1, #tH2 { color: #95ECFF; }
    #lfUL1 li, #lfUL2 li, #lfUL3 li, #lfUL4 li { font-size: 30px; color: #00A4F6; }
    #s1 h6, #s2 h6, #s3 h6 { font-size: 35px; color: #60E1FD; }
    #edHead1, #edHead2 { font-size: 35px; color: #60E1FD; }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
    body { background-color: #000; color: #fff; padding-right: 10px; padding-left: 10px; margin-right: 10px; }
    #headerMain { font-size: 70px; }
    #hr { width: 100%; background-color: #00486C; }
    hr { background-color: #00486C; }
    #subHeader { font-size: 45px; color: #00A4F6; }
    #contactRow { font-size: 28px; display: inline; }
    #conA1, #conA2, #conA3, #conA4 { text-decoration-color: #00486C; color:#fff; }
    #c1 img, #c2 img, #c3 img, #c4 img { width: 100%;height: auto; background-color: #fff; visibility: hidden;}
    /**/
    #rh1, #rh2  { font-size: 30px; width: 100%; }
    #rh1 h3, #rh2 h3 { font-size: 50px; }
    /**/
    #jH1, #jH2 { font-size: 45px; color: #fff; }
    #p0, #p0UL{ font-size: 30px; color: #00A4F6; }
    /**/
    #jLI1 h6, #jLI2 h6, #jLI3 h6, #jLI4 h6 { font-size: 35px; color: #60E1FD; }
    #p1, #p2, #p3 { font-size: 30px; color: #00A4F6; }
    /**/
    #tH1, #tH2 { color: #95ECFF; }
    #lfUL1 li, #lfUL2 li, #lfUL3 li, #lfUL4 li { font-size: 30px; color: #00A4F6; }
    #s1 h6, #s2 h6, #s3 h6 { font-size: 35px; color: #60E1FD; }
    #edHead1, #edHead2 { font-size: 35px; color: #60E1FD; }
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
    body { background-color: #000; color: #fff; padding-right: 10px; padding-left: 10px; margin-right: 10px; }
    #headerMain { font-size: 70px; }
    #hr { width: 100%; background-color: #00486C; }
    hr { background-color: #00486C; }
    #subHeader { font-size: 45px; color: #00A4F6; }
    #contactRow { font-size: 28px; display: inline; }
    #conA1, #conA2, #conA3, #conA4 { text-decoration-color: #00486C; color:#fff; }
    #c1 img, #c2 img, #c3 img, #c4 img { width: 100%;height: auto; background-color: #fff; visibility: hidden;}
    /**/
    #rh1, #rh2  { font-size: 30px; width: 100%; }
    #rh1 h3, #rh2 h3 { font-size: 50px; }
    /**/
    #jH1, #jH2 { font-size: 45px; color: #fff; }
    #p0, #p0UL{ font-size: 30px; color: #00A4F6; }
    /**/
    #jLI1 h6, #jLI2 h6, #jLI3 h6, #jLI4 h6 { font-size: 35px; color: #60E1FD; }
    #p1, #p2, #p3 { font-size: 30px; color: #00A4F6; }
    /**/
    #tH1, #tH2 { color: #95ECFF; }
    #lfUL1 li, #lfUL2 li, #lfUL3 li, #lfUL4 li { font-size: 30px; color: #00A4F6; }
    #s1 h6, #s2 h6, #s3 h6 { font-size: 35px; color: #60E1FD; }
    #edHead1, #edHead2 { font-size: 35px; color: #60E1FD; }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
    body { background-color: #000; color: #fff; padding-right: 10px; padding-left: 10px; margin-right: 10px; }
    #headerMain { font-size: 70px; }
    #hr { width: 100%; background-color: #00486C; }
    hr { background-color: #00486C; }
    #subHeader { font-size: 45px; color: #00A4F6; }
    #contactRow { font-size: 28px; display: inline; }
    #conA1, #conA2, #conA3, #conA4 { text-decoration-color: #00486C; color:#fff; }
    #c1 img, #c2 img, #c3 img, #c4 img { width: 100%;height: auto; background-color: #fff; visibility: hidden;}
    /**/
    #rh1, #rh2  { font-size: 30px; width: 100%; }
    #rh1 h3, #rh2 h3 { font-size: 50px; }
    /**/
    #jH1, #jH2 { font-size: 45px; color: #fff; }
    #p0, #p0UL{ font-size: 30px; color: #00A4F6; }
    /**/
    #jLI1 h6, #jLI2 h6, #jLI3 h6, #jLI4 h6 { font-size: 35px; color: #60E1FD; }
    #p1, #p2, #p3 { font-size: 30px; color: #00A4F6; }
    /**/
    #tH1, #tH2 { color: #95ECFF; }
    #lfUL1 li, #lfUL2 li, #lfUL3 li, #lfUL4 li { font-size: 30px; color: #00A4F6; }
    #s1 h6, #s2 h6, #s3 h6 { font-size: 35px; color: #60E1FD; }
    #edHead1, #edHead2 { font-size: 35px; color: #60E1FD; }
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
    body { background-color: #000; color: #fff; padding-right: 10px; padding-left: 10px; margin-right: 10px; }
    #headerMain { font-size: 70px; }
    #hr { width: 100%; background-color: #00486C; }
    hr { background-color: #00486C; }
    #subHeader { font-size: 45px; color: #00A4F6; }
    #contactRow { font-size: 28px; display: inline; }
    #conA1, #conA2, #conA3, #conA4 { text-decoration-color: #00486C; color:#fff; }
    #c1 img, #c2 img, #c3 img, #c4 img { width: 100%;height: auto; background-color: #fff; visibility: hidden;}
    /**/
    #rh1, #rh2  { font-size: 30px; width: 100%; }
    #rh1 h3, #rh2 h3 { font-size: 50px; }
    /**/
    #jH1, #jH2 { font-size: 45px; color: #fff; }
    #p0, #p0UL{ font-size: 30px; color: #00A4F6; }
    /**/
    #jLI1 h6, #jLI2 h6, #jLI3 h6, #jLI4 h6 { font-size: 35px; color: #60E1FD; }
    #p1, #p2, #p3 { font-size: 30px; color: #00A4F6; }
    /**/
    #tH1, #tH2 { color: #95ECFF; }
    #lfUL1 li, #lfUL2 li, #lfUL3 li, #lfUL4 li { font-size: 30px; color: #00A4F6; }
    #s1 h6, #s2 h6, #s3 h6 { font-size: 35px; color: #60E1FD; }
    #edHead1, #edHead2 { font-size: 35px; color: #60E1FD; }
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
    body { background-color: #000; color: #fff; padding-right: 10px; padding-left: 10px; margin-right: 10px; }
    #headerMain { font-size: 70px; }
    #hr { width: 100%; background-color: #00486C; }
    hr { background-color: #00486C; }
    #subHeader { font-size: 45px; color: #00A4F6; }
    #contactRow { font-size: 28px; display: inline; }
    #conA1, #conA2, #conA3, #conA4 { text-decoration-color: #00486C; color:#fff; }
    #c1 img, #c2 img, #c3 img, #c4 img { width: 100%;height: auto; background-color: #fff; visibility: hidden;}
    /**/
    #rh1, #rh2  { font-size: 30px; width: 100%; }
    #rh1 h3, #rh2 h3 { font-size: 50px; }
    /**/
    #jH1, #jH2 { font-size: 45px; color: #fff; }
    #p0, #p0UL{ font-size: 30px; color: #00A4F6; }
    /**/
    #jLI1 h6, #jLI2 h6, #jLI3 h6, #jLI4 h6 { font-size: 35px; color: #60E1FD; }
    #p1, #p2, #p3 { font-size: 30px; color: #00A4F6; }
    /**/
    #tH1, #tH2 { color: #95ECFF; }
    #lfUL1 li, #lfUL2 li, #lfUL3 li, #lfUL4 li { font-size: 30px; color: #00A4F6; }
    #s1 h6, #s2 h6, #s3 h6 { font-size: 35px; color: #60E1FD; }
    #edHead1, #edHead2 { font-size: 35px; color: #60E1FD; }
}

/* Samsung Galaxy S8 ------------*/
@media only screen and (min-device-width: 360px) and (orientation: portrait) { 
/* Styles */ 
    body { background-color: #000; color: #fff; padding-right: 10px; padding-left: 10px; margin-right: 10px; }
    #headerMain { font-size: 70px; }
    #hr { width: 100%; background-color: #00486C; }
    hr { background-color: #00486C; }
    #subHeader { font-size: 45px; color: #00A4F6; }
    #contactRow { font-size: 28px; display: inline; }
    #conA1, #conA2, #conA3, #conA4 { text-decoration-color: #00486C; color:#fff; }
    #c1 img, #c2 img, #c3 img, #c4 img { width: 100%;height: auto; background-color: #fff; visibility: hidden;}
    /**/
    #rh1, #rh2  { font-size: 30px; width: 100%; }
    #rh1 h3, #rh2 h3 { font-size: 50px; }
    /**/
    #jH1, #jH2 { font-size: 45px; color: #fff; }
    #p0, #p0UL{ font-size: 30px; color: #00A4F6; }
    /**/
    #jLI1 h6, #jLI2 h6, #jLI3 h6, #jLI4 h6 { font-size: 35px; color: #60E1FD; }
    #p1, #p2, #p3 { font-size: 30px; color: #00A4F6; }
    /**/
    #tH1, #tH2 { color: #95ECFF; }
    #lfUL1 li, #lfUL2 li, #lfUL3 li, #lfUL4 li { font-size: 30px; color: #00A4F6; }
    #s1 h6, #s2 h6, #s3 h6 { font-size: 35px; color: #60E1FD; }
    #edHead1, #edHead2 { font-size: 35px; color: #60E1FD; }
}
@media only screen and (max-device-width: 740px) and (orientation: landscape) { 
/* Styles */ 
    body { background-color: #000; color: #fff; padding-right: 10px; padding-left: 10px; margin-right: 10px; }
    #headerMain { font-size: 70px; }
    #hr { width: 100%; background-color: #00486C; }
    hr { background-color: #00486C; }
    #subHeader { font-size: 45px; color: #00A4F6; }
    #contactRow { font-size: 28px; display: inline; }
    #conA1, #conA2, #conA3, #conA4 { text-decoration-color: #00486C; color:#fff; }
    #c1 img, #c2 img, #c3 img, #c4 img { width: 100%;height: auto; background-color: #fff; visibility: hidden;}
    /**/
    #rh1, #rh2  { font-size: 30px; width: 100%; }
    #rh1 h3, #rh2 h3 { font-size: 50px; }
    /**/
    #jH1, #jH2 { font-size: 45px; color: #fff; }
    #p0, #p0UL{ font-size: 30px; color: #00A4F6; }
    /**/
    #jLI1 h6, #jLI2 h6, #jLI3 h6, #jLI4 h6 { font-size: 35px; color: #60E1FD; }
    #p1, #p2, #p3 { font-size: 30px; color: #00A4F6; }
    /**/
    #tH1, #tH2 { color: #95ECFF; }
    #lfUL1 li, #lfUL2 li, #lfUL3 li, #lfUL4 li { font-size: 30px; color: #00A4F6; }
    #s1 h6, #s2 h6, #s3 h6 { font-size: 35px; color: #60E1FD; }
    #edHead1, #edHead2 { font-size: 35px; color: #60E1FD; }
}