body {
    background-color: #fff;
    color: #000;
    overflow-x: hidden;
}
hr {
    background-color: #ff0000;
}
#hr {
    background-color: #ff0000;
    width: 90vmax;
}
#headerMain {
    margin-top: 25px;
    margin-left: 20vmin;
    font-size: 3em;
}
#subHeader, #contactRow  {
    margin-left: 20vmin;
}
#conA1, #conA2, #conA3, #conA4 {
    text-decoration-color: #ff0000;
    color:#ff0000;
}
#jLI1 h6, #jLI2 h6, #jLI3 h6, #jLI4 h6 {
    color: #800000;
}
#tH1, #tH2 {
    color: #ff0000; 
    margin-top: 50px;
}
#s1 h6, #s2 h6, #s3 h6 {
    color: #800000;
}
#lfUL1, #lfUL2, #lfUL3, #lfUL4 {
    list-style: none;
}